{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{{url_for('account_sponsor')}}">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size: xx-large;">{{current_user.username}}</legend>
                <h3>You are a {{current_user.user_type}}</h3>
                <p>Fill in the information below to complete your profile!</p>
        <div class="form-group"
            {{form.name.label(class="form-control-label")}}
            {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.name(class="form-control form-control-lg") }}
            {% endif %}
       </div>
       
       <div>
            <p> Interests</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Education" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                Education
                </label>
            </div>
        </div>
    </div>

        
        </form>
    </div>
{% endblock content %}
