{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{{url_for('account_sponsor')}}">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size: xx-large;">{{current_user.username}}</legend>
                <h3>You are a {{current_user.user_type}}</h3>
                <p>Fill in the information below to complete your profile!</p>
        <div class="form-group"
            {{form.name.label(class="form-control-label")}}
            {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.name(class="form-control form-control-lg") }}
            {% endif %}
       </div>
       
       <div>
            <p> Interests</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Education" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                Education
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Technology" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                Technology
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Mathematics" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                Mathematics
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Health" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                Health
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Sports" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                Sports
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Gaming" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                Gaming
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Leadership" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                Leadership
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Business" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                Business
                </label>
            </div>
        </div>
        <br>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div> 

    </div>

        
        </form>
    </div>
{% endblock content %}
