{% extends "layout.html" %}
{% block content %}
    <h1>Find sponsors for your events!</h1>
    <p> Check out these potential sponsors for ones that fit with your event.</p>
<form method="POST" action="{{url_for('find_sponsors')}}">
    {{ form.csrf_token }}    
    <div class="content-section">
      <div class="row" style="vertical-align: middle;">
        <div class="col-11" style="padding-top: 8px;">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Education">
            <label class="form-check-label" for="Education">Education</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Technology">
            <label class="form-check-label" for="Technology">Technology</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Mathematics">
            <label class="form-check-label" for="Mathematics">Mathematics</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Health">
            <label class="form-check-label" for="Health">Health</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Sports">
            <label class="form-check-label" for="Sports">Sports</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Gaming">
            <label class="form-check-label" for="Gaming">Gaming</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Leadership">
            <label class="form-check-label" for="Leadership">Leadership</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Business">
            <label class="form-check-label" for="Business">Business</label>
          </div>
        </div>
        <div class="col-1">
          <div class="form-group" >
            {{ form.submit_filters(class="btn btn-outline-info") }}
          </div>
        </div>
      </div>
    </div>
</form>
    
    {% for user in users %}
    {%if user.user_type == "Sponsor"%}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <div class="row">
              <div class="col-6">
                <a class="mr-2" href="#">{{ user.name }}</a>
                <small class="text-muted">{{ user.number }}</small>
              </div>
              <div class="col-6">
                <small class="text-muted">Categories: 
                  {%if user.education%} Education. {%endif%}
                  {%if user.technology%} Technology. {%endif%}
                  {%if user.mathematics%} Mathematics. {%endif%}
                  {%if user.health%} Health. {%endif%}
                  {%if user.sports%} Sports. {%endif%}
                  {%if user.gaming%} Gaming. {%endif%}
                  {%if user.leadership%} Leadership. {%endif%}
                  {%if user.business%} Business. {%endif%}
                </small>
              </div>
            </div>
            <h2><a class="article-title" href="#">{{ user.address }}</a></h2>
            <p class="article-content">{{ user.description }}</p>
          </div>
        </article>
        {%endif%}
    {% endfor %}
{% endblock content %}
