{% extends "layout.html" %}
{% block content %}
    <h1>Find your next sponsee!</h1>
    <p> Check out upcoming events and discover new organizations that you would like to sponsor!</p>
    <div class="content-section">
      <div class="row" style="vertical-align: middle;">
        <div class="col-11" style="padding-top: 8px;">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Education">
            <label class="form-check-label" for="Education">Education</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Technology">
            <label class="form-check-label" for="Technology">Technology</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Mathematics">
            <label class="form-check-label" for="Mathematics">Mathematics</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Health">
            <label class="form-check-label" for="Health">Health</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Sports">
            <label class="form-check-label" for="Sports">Sports</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Gaming">
            <label class="form-check-label" for="Gaming">Gaming</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Leadership">
            <label class="form-check-label" for="Leadership">Leadership</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="Business">
            <label class="form-check-label" for="Business">Business</label>
          </div>
        </div>
        <div class="col-1">
          <div class="form-group" >
            {{ form.submit_filters(class="btn btn-outline-info") }}
          </div>
        </div>
      </div>
    </div>
    
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <div class="row">
              <div class="col-6">
                <a class="mr-2" href="#">{{ post.author.name }}</a>
                <small class="text-muted">{{ post.post_date.strftime('%Y-%m-%d') }}</small>
              </div>
              <div class="col-6">
                <small class="text-muted">Categories: 
                  {%if post.education%} Education. {%endif%}
                  {%if post.technology%} Technology. {%endif%}
                  {%if post.mathematics%} Mathematics. {%endif%}
                  {%if post.health%} Health. {%endif%}
                  {%if post.sports%} Sports. {%endif%}
                  {%if post.gaming%} Gaming. {%endif%}
                  {%if post.leadership%} Leadership. {%endif%}
                  {%if post.business%} Business. {%endif%}
                </small>
              </div>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
