{% extends "layout.html" %}
{% block content %}
<body style="background-color: #234E70;">

    <div class="row">
        <div class="col-8">
            <div class="display-1" style="font-weight: bolder; color:#FBF8BE; padding-top: 50px;">
                Connect with your community 
            </div>
            <div style="font-weight: 100; color:#FBF8BE; font-size: x-large;">
                <br>
                Sponify allows businesses and organizations to easily connect in sponsor/sponsee relationships that best fit both parties’ needs
            
            </div>
            <br><br>
            <a type="button" class="btn btn-light btn-lg" href=register style="background-color: #FBF8BE; padding:20px; color:#234E70">REGISTER NOW</a>
        </div>
        <div class="col-4" >
            
        </div>
    </div>

</body>

    {% endblock content %}
